Formatted Output with print STATEMENT

In [ ]:
print("Hello Class! Welcome to Workshop on Python")

In [ ]:
print("/'Hello Class! Welcome to Workshop on Python/'")

In [ ]:
print("\"Hello Class! Welcome to Workshop on Python\"")

In [ ]:
print("a\
b\
c")

In [ ]:
print("Python\nJava")            #NewLine character

In [ ]:
print("Python\tJava")             #Tab

In [ ]:
print("Python\bJava")             #Backspace

In [ ]:
print("Python\rJava")             #Carriage Return

In [ ]:
print('\u011C \N{downwards arrow}')             #Unicode Characters

# Raw String

A raw string literal is preceded by r or R, which specifies that escape sequences in the associated string are not translated.

In [ ]:
print("Python\nJava")
print(r"Python\nJava")

In [ ]:
x = 5

print("value of x is ", x)

In [ ]:
x = 10
y = 15

print("x = ",x," y = ",y)

In [ ]:
print(f"x = {x} y = {y}".format(x,y))

In [ ]:
print(f"x = {x} y = {y}".format(x,y))

In [ ]:
print("x = {0} y = {0}, z = {1}".format(x,y))

In [ ]:
x = 'a'
y = 't'
print("x = {} y = {}".format(x,y))

In [ ]:
print("x = {1} y = {0}".format(x,y))

In [ ]:
a = 34
b = 45678
c = 785
print("%7d"%(a))
print("%7d"%(b))
print("%7d"%(c))

In [ ]:
print("a = %d, b = %d, c = %d"%(a,b,c))

In [ ]:
z=5/3
print("z = %0.2f"%z)

In [ ]:
a = 456
b = 458967
c = 87555698
d = 27
print("%d"%a)
print("%d"%b)
print("%d"%c)
print("%d"%d)

In [ ]:
t = 4.6789
print("%f"%t)
print("%d"%t)

In [ ]:
r = 21

print("%c"%r)

In [ ]:
a = 456
b = 458967
c = 87555698
d = 27
print("%8d"%a)
print("%8d"%b)
print("%8d"%c)
print("%8d"%d)

In [ ]:
a = 45.256
b = 45.6388967
c = 8755.5698
d = 27.0
print("%f"%a)
print("%f"%b)
print("%f"%c)
print("%f"%d)

In [ ]:
a = 45.256
b = 45.6388967
c = 8755.5698
d = 27.0
print("%0.4f"%a)
print("%0.4f"%b)
print("%0.4f"%c)
print("%0.4f"%d)

In [ ]:
a = 2365
b = 34.76578955
print("a = {0:6d}, b = {1:0.3f}".format(a,b))

In [ ]:
print("a = {p:15d}, b = {q:10.3f}".format(p = 548,q = 83.259))

In [ ]:
a = 't'
print("%c"%(a))

Formatting output using the String method

In [ ]:
str = "PYTHON WORKSHOP"
print(str.ljust(50,"*"))
print(str.rjust(79,"+"))
print(str.center(50,"$"))

# DATA TYPES

In [ ]:
p = 256
q = 0b110
r = 0o256
s = 0x256
abd = 9
cde = 34
abd+cde
# print("Base 10 :",p)
# print("Base 2 :",q)
# print("Base 8 :",r)
# print("Base 16 :",s)

In [ ]:
a = 0.5e3

print(a)
# type(a)

In [ ]:
b = 4.2e-4

print(b)

In [ ]:
c = 1.79e308            #Maximum Value

print(c)

In [ ]:
# COMPLEX NUMBERS

d = 6 + 7j

print(d)
type(d)

In [ ]:
# add two complex numbers

a = 3 + 4j

b = 5 + 8j

c = a + b

print(c)

In [ ]:
# Boolean data type

a = True

type(a)

print(a)

MATH FUNCTION
abs()	    Returns absolute value of a number
divmod()	Returns quotient and remainder of integer division
max()	    Returns the largest of the given arguments or items in an iterable
min()	    Returns the smallest of the given arguments or items in an iterable
pow()	    Raises a number to a power
round()	    Rounds a floating-point value
sum()	    Sums the items of an iterable

In [ ]:
a = 16

b = 4

print(divmod(a,b))

In [ ]:
a = [5,4,8,6,87,56]

print(sum(a))

In [ ]:
pow(2,4)

In [ ]:
round(52.65)

In [ ]:
b = {5,2,3,6}

sum(b)

TYPE CONVERSION
chr()	Returns string representation of character given by integer argument
ord()	Returns integer representation of a character
bin()	Converts an integer to a binary string
oct()	Converts an integer to an octal string
hex()	Converts an integer to a hexadecimal string

In [ ]:
print(chr(65))

In [ ]:
print(ord('5'))

In [ ]:
x = oct(13)
print(x)

In [ ]:
a = 56
b = 78
print(a)
print(b)

In [ ]:
a = 57
print(a)

Strings

In [ ]:
x = "Hello NIET"
print(x)

In [ ]:
str = "Welcome to PYTHON Workshop"
str = str[::-1]
print(str)

In [ ]:
x = 124657981326598323206549843130
print(x)
type(x)

In [ ]:
x = 1.73e-2
print(x)

In [ ]:
if 0:
    print("Hello")
elif 7:
    print("Hi")
elif 6:
    print("ABC")
else:
    print("XYZ")

In [ ]:
n1 = int (input("Enter first no "))
n2 = int (input("Enter second no "))
sum = 0
for n in range(n1,n2+1):
    t = 0
    for i in range(2,n):
        if(n%i == 0):
            t = 1
            break
    if (t == 0):
        print(n, end =" ")
        sum = sum + n
print("Sum = ",sum)
if sum%2 == 0:
    print("Sum is Even")
else:
    print("Sum is Odd")

In [ ]:
# break statement

for i in range(1,21):
    if i %5 == 0:
        break
    print(i, end = " ")

In [ ]:
for i in range(1,21):
    if i %5 != 0:
        continue
    print(i, end = " ")

In [ ]:
for i in range(1,21):
    pass            #this will be implemented later
                        # we do not use it in program

In [ ]:
for i in range (1,5):
    for j in range(1,5):
        print("*", end = " ")
    print()

In [ ]:
i = 1
while(i<5):
    j = 1
    while(j<5):
        print("*", end = " ")
        j = j+1
    print()
    i = i+1

In [ ]:
for i in range (1,5):
    for j in range(i):
        print("*", end = " ")
    print()

In [ ]:
for i in range (1,6):
    for j in range(2*i-1):
        print("*", end = " ")
    print()

In [ ]:
for i in range (1,6):
    for j in range(5-i):
        print(" ", end = " ")
    for k in range(i):
        print("*", end = " ")
    print()

In [ ]:
for i in range (1,5):
    for j in range(5-i):
        print(" ", end = " ")
    for k in range(2*i-1):
        if k==0 or k == 2*i-2:
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()
i=5
for k in range(2*i-1):
    print("*", end = " ")

In [ ]:
for i in range (1,6):
    for j in range(5-i):
        print(" ", end = " ")
    for k in range(2*i-1):
        print("*", end = " ")
    print()
for i in range (1,5):
    for j in range(i):
        print(" ", end = " ")
    for k in range(9-2*i):
        print("*", end = " ")
    print()

In [ ]:
 def add (a,b):
        sum = a+b
        print(sum)
        
add(5.25,6)
type(add(5.25,6))

In [ ]:
def add (a,b,c=10):
        sum = a+b+c
        return sum
        
r = add(3,7,25)
print(r)

In [ ]:
def DEKHO(name, age, city,state):
    print("Name: ", name)
    print("Age: ",age)
    print("City: ",city)
    print("state: ",state)
    
DEKHO("amit",33, state = "UP", city = "Lucknow")

In [ ]:
def fun(name,age,*hobbies):
    print(name)
    print(age)
    for i in hobbies:
        print(i)

fun("AMIT",25,"cycling")
fun("Shreya",22,"Wlaking","Dancing","Playing chess")

In [ ]:
def fun2(*a,**b):
    print("Arguments: ",a)
    print("Keyword Arguments:",b)
    
fun2(25,29,"india",55,"AMIT","Shikha",25.36, name = "Alok", Class = "B.Tech",city="Delhi",marks = 75.5)

In [ ]:
def pattern1(n):
    for i in range (1,n+1):
        for j in range(n-i):
            print(" ", end = " ")
        for k in range(2*i-1):
            print("*", end = " ")
        print()

In [ ]:
n = int(input("Enter number of lines"))
pattern1(n)

In [ ]:
x = 50     #global

def fun3():
    global x
    x = 20
    print(x)
    
print(x)    
fun3()
print(x)

In [ ]:
def sum(a,b):
    return a+b

result = sum(5,7)
print(result)

In [ ]:
import math

f = math.factorial(5)
print(f)

In [ ]:
from math import factorial as fact

f = fact(6)
f

In [ ]:
import sys
sys.path

In [ ]:
import workshop

workshop.noida()

In [ ]:
s = workshop.add(5,12)
print(s)

In [4]:
import workshop2

In [ ]:
workshop2.india()

In [ ]:
workshop2.noida()

In [5]:

from workshop2 import noida

workshop2.noida()

Noida is in India

In [7]:
from math import factorial
print(math.factorial(5))

NameError: name 'math' is not defined

In [8]:
x = print

x("Hello NIET")

Hello NIET

In [10]:
def add(a,b):
    return a+b

add(4,5)*5

45

In [15]:
def f1(fun):
    def f2(x,y):
        print("***************")
        fun(x,y)
        print("***************")
    return f2
    
@f1
def nieet(a,b):
    x = a*b
    print("answer is ",x)

nieet(5,8)

***************
answer is  40
***************

In [2]:
def decor(fun):
    def wrapper(*args,**kwargs):
        print("Hello i am going to show result") #open
        fun(*args,**kwargs)
        print("now i am closing")    #close
    return wrapper

@decor
def add(a,b,c=30):
    print(a+b+c)
    
# @decor
# def show():
#     print("welcome")

# show()
add(25,25,15)

Hello i am going to show result
65
now i am closing

In [9]:
a = [2,3,4,5,7]
sum(a)

21

In [14]:
a = [2,3,4,5,5,5,5,5,7]
a.append(25)
a

[2, 3, 4, 5, 5, 5, 5, 5, 7, 25]

In [15]:
a.count(5)

5

In [18]:
x = []

n = int(input("how many elements: "))
for i in range(n):
    a = int(input(" "))
    x.append(a)
    
sum = 0
print(x)
for i in range(n):
    if x[i] %2 != 0:
        sum = sum + x[i]
        
print(sum)

how many elements: 7
 2
 3
 6
 9
 8
 7
 4
[2, 3, 6, 9, 8, 7, 4]
19

In [27]:
a = [2,4,6,4,7,3,8]
y = a.pop(4)    # index of 7 is 4  pop(index)
y

7

In [28]:
z = a.remove(3)    #remove(obj/elem)
z

In [31]:
a.append(18)
a

[2, 4, 6, 4, 8, 18, 18, 18]

In [32]:
a.insert(2,15)
a

[2, 4, 15, 6, 4, 8, 18, 18, 18]

In [33]:
a.reverse()
a

[18, 18, 18, 8, 4, 6, 15, 4, 2]

In [34]:
a.sort()

In [35]:
a

[2, 4, 4, 6, 8, 15, 18, 18, 18]

In [43]:
a = [5,8,9,2,1,0,6]
print(a)

def shivam(a):           #Bubble sort
    for i in range(len(a)):
        for j in range(i,len(a)):
            if a[i] < a[j]:
                a[i],a[j] = a[j],a[i]
    print(a)           
shivam(a)

[5, 8, 9, 2, 1, 0, 6]
[9, 8, 6, 5, 2, 1, 0]

In [39]:
b = [3,5,78,67,89,23,12,10,3,4]
print(b)
shivam(b)

[3, 5, 78, 67, 89, 23, 12, 10, 3, 4]
[3, 3, 4, 5, 10, 12, 23, 67, 78, 89]

In [42]:
b = [3,5,78,67,89,23,12,10,3,4]
b.sort(reverse =True)
b

[89, 78, 67, 23, 12, 10, 5, 4, 3, 3]

In [47]:
# concatenation

a = [2,4,7,9]
b = [3,5,1,8]

x = "Hello"
c = x*4
c

'HelloHelloHelloHello'

In [50]:
a = [2,4,7,9]
b = [x**2 for x in a]    #list comprehension
b

[4, 16, 49, 81]

In [49]:
a = [2,4,7,9]
b = []
for x in a:
    b.append(4*x)
b

[8, 16, 28, 36]

In [51]:
b.clear()
b

[]

In [52]:
c = [22,5,8,9]
b = c.copy()
b

[22, 5, 8, 9]

In [56]:
t = c.index(9)
t

3

In [62]:
a = [5,6,4,8,9]
for i in range(len(a)):
    print(a[i]+1, end = " ")

6 7 5 9 10

In [1]:
x = []
while(1):
    print("enter name and enter nil to end")
    a = input(" ")
    if a == "nil":
        break
    x.append(a)
print(x)

enter name and enter nil to end
 amit
enter name and enter nil to end
 sumit
enter name and enter nil to end
 mohit
enter name and enter nil to end
 rekha
enter name and enter nil to end
 nil
['amit', 'sumit', 'mohit', 'rekha']

In [13]:
a = ["Amit", "Bhawna", "Abhishek", "Uday","Chetan"]
a.sort()
a

['Abhishek', 'Amit', 'Bhawna', 'Chetan', 'Uday']

In [17]:
a = ["Amit", "Bhawna", "Abhishek", "Uday","Chetan"]
max(a, key = len)

'Abhishek'

In [21]:
st = "Hello how are you?"
# x = st.split()
# max(x, key = len)

max(st.split(),key = len)

'Hello'

In [26]:
colour = []
x = input(" ")
if x not in colour:
    colour.append(x)
print(colour)

 yellow
['yellow']

In [43]:
s = {2,4,6}
t = {2,4}
t.issubset(s)

True

In [5]:
d={'a':3,'b':4,'c':6}
x=list(d.items())
x.reverse()
dict(x)

{'c': 6, 'b': 4, 'a': 3}

In [70]:
a = {3,5,7}
b = {4,6,7}
a.update(b)
a

{3, 4, 5, 6, 7}

In [74]:
a = {"f":5, "t":7}
a["t"]

7

In [78]:
st = "we are in niet"
l = list(st)
t = set(st)

for i in t:
    print(i, "\t" ,l.count(i))

a 	 1
e 	 3
t 	 1
r 	 1
n 	 2
w 	 1
i 	 2
  	 3

In [79]:
d1 = {"a":"A","b":"B","c":"C"}
d2 = {"A":"1","B":"2","C":"3"}

for i in d1.keys():
    print(i, "   ", d1[i],"    ",d2[d1[i]])

a     A      1
b     B      2
c     C      3